.nav-menu{
  background: linear-gradient(90deg, rgb(222, 197, 9), rgb(222, 197, 9));
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(3, 89, 11);
    background: -moz-linear-gradient(135deg, rgb(2, 59, 8) 0%, rgb(2, 59, 8) 100%);
    background: -webkit-linear-gradient(135deg, rgb(2, 59, 8) 0%, rgb(3, 89, 11) 100%);
    background: linear-gradient(135deg, rgb(2, 59, 8) 0%, rgb(3, 89, 11) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}





.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(3, 89, 11) 0%, rgba(3, 89, 11) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(3, 89, 11) 0%, rgba(3, 89, 11) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(3, 89, 11) 0%, rgba(3, 89, 11) 100%);
    background-image: linear-gradient( 135deg, rgba(3, 89, 11) 0%, rgba(3, 89, 11) 100%);
}


h3 {
  color: rgb(3, 89, 11);
}

h2 {
  color: #03590b;
}

h5{
  color:#03590b;
}



.gradient-fill:before {
    color: #03590b;
    background: -moz-linear-gradient(top, #03590b 0%, #048008 100%);
    background: -webkit-linear-gradient(top, #03590b 0%, #048008 100%);
    background: linear-gradient(to bottom, #03590b 0%, #048008 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}




.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(3, 89, 11, 0.04);
    transition: all 0.3s ease;
}



.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #03590b;
    background: -moz-linear-gradient(top, #03590b 0%, #c7c404 100%);
    background: -webkit-linear-gradient(top, #03590b 0%, #c7c404 100%);
    background: linear-gradient(to bottom, #03590b 0%, #c7c404 100%);
    top: 0;
    bottom: 0;
    left: 0;
}



.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #03590b;
    background: #f5eff7;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #03590b #faf6fb #FFF;
    color: #03590b;
}



p.lead {
    color: #03590b;
    margin-bottom: 2rem;
}




.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #03590b;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #03590b 0%, #034a0a 100%);
    background-image: -webkit-linear-gradient( 122deg, #03590b 0%, #034a0a 100%);
    background-image: -ms-linear-gradient( 122deg, #03590b 0%, #034a0a 100%);
    background-image: linear-gradient( 122deg, #03590b 0%, #034a0a 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}




.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #034a0a;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}
