.nav-menu{
  background: linear-gradient(90deg, rgb(6, 184, 8), rgb(143, 115, 13));
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(3, 138, 27);
    background: -moz-linear-gradient(135deg, rgb(3, 138, 27) 0%, rgb(3, 138, 27) 100%);
    background: -webkit-linear-gradient(135deg, rgb(3, 138, 27) 0%, rgb(3, 138, 27) 100%);
    background: linear-gradient(135deg, rgb(3, 138, 27) 0%, rgb(3, 138, 27) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}





.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(6, 184, 8) 0%, rgba(197, 255, 8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(197, 255, 8) 0%, rgba(197, 255, 8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(6, 184, 8) 0%, rgba(197, 255, 8) 100%);
    background-image: linear-gradient( 135deg, rgba(6, 184, 8) 0%, rgba(197, 255, 8) 100%);
}
